<h1> All of the Bloggers !! 🌄 </h1>

<ul>
    <% @bloggers.each do |blogger| %>
        <li>
            <%= link_to blogger.name, blogger_path(blogger) %>
        </li>
    <% end %>
</ul>

<%= link_to "Add a new blogger", new_blogger_path %>
<br>
<%= link_to "All posts", posts_path %>